<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

		<appSettings>
			<add key="TimerIntervalMinutes" value="1" />
			<add key="DBPath" value="Data\Scadenze.db" />
			<add key="ggScadenza" value="3" />
		</appSettings>

</configuration>